/* Body */
.home {
	background: orange;
}

.gallery {
	background: yellow;
}

/*Navigation*/
.home #home {
	text-weight: bold;
	background: red;	
}

.gallery #gallery {
	text-weight: bold;
	background: red;	
}